.footer-social {
    display: flex;
    justify-content: space-between;
    margin: 0 35% 25px;
    position: relative;
    top: 30px;

    i {
        font-size: 0.7rem;
        border: 2px $color-orange solid;
        border-radius: 50px;
        color: $color-orange;
        padding: 7px;
        background-color: white;
    }
}

i.fa-facebook-f {
    padding: 6px 9px;
}